{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'homepagestyle.css' %}">

    <title>Pegasus Recruitment.</title>

</head>
<body>

  <div id='HOME' class="page">

    <div class="desktop-3__header">
      <span class="pegasus-recruiting">
        PEGASUS<br>RECRUITING
      </span>

      <div class="desktop-3__frame-2">
        <a href="#HOME" class="desktop-3__home">
          HOME
        </a>

        <a href="#About_Us" class="desktop-3__about-us">
          ABOUT US
        </a>

        <a href="#Contact_Us" class="desktop-3__contant-us">
          CONTANT US
        </a>

      </div>
    </div>

    <div class="desktop-3__slogan">
      Connecting talented minds with great companies.<br>Join our network today.
    </div>

    <a href="#Contact_Us" class="desktop-3__join_container">
        <span class="desktop-3__join_text">
              Join
        </span>
    </a>

    <div id='About_Us' class="desktop-3__about-us_title">
      About Us
    </div>

    <div class="desktop-3_about_us_info">
      Established in 1982, Pegasus Recruiting is an agency with the sole aim of helping fresh graduates and talented minds find their way into the corporate world. We go beyond mere placement, offering personalized career guidance and mentorship to empower candidates in navigating the complexities of the modern job market.<br />
      <br />
       Our extensive network of industry connections allows us to match individuals not only with job opportunities but also with environments where they can thrive and grow professionally. With a focus on fostering long-term success, we support candidates in honing their skills, building their confidence, and achieving their career aspirations. <br />
      <br />
      Join us on the journey to unlock your full potential and soar to new heights in your <br />
      professional life.
    </div>

    <div id='Contact_Us' class="desktop-3__contact-us">
      Contact Us
    </div>

    <div class="desktop-3__input_container">

      <input class="desktop-3__rectangle-3">
      </input>

      <input class="desktop-3__rectangle-4 ">
      </input>

      <input class="desktop-3__rectangle-5">
      </input>

      <textarea class="desktop-3__rectangle-6 ">
      </textarea>

    </div>

    <div class="rounded-[40px] bg-[#F0F3FC] absolute left-[75px] top-[452px] w-[143px] h-[37px]">
    </div>

    <div class="desktop-3__footer">

      <div class="desktop-3__pegasus-recruiting-1">
        PEGASUS RECRUITING
      </div>

      <div class="desktop-3__get-in-touch">
        Get in touch.
      </div>

      <div class="desktop-3__email_container">

        <div class="desktop-3__email_icon">
          <img class="desktop-3__vector " src="../static/email-icon-svg.svg" />
        </div>

        <span class="desktop-3__pegasusrecruitinggmail-com">
          pegasusrecruiting@gmail.com
        </span>

      </div>

      <div class="desktop-3__Ts_and_CS_Privacy_policy_container">

        <a href='#' class="desktop-3__privacy-policy">
          Privacy policy
        </a>

        <a href='#' class="desktop-3__terms-and-conditions">
          Terms and Conditions
        </a>

      </div>
    </div>
    
  </div>
</body>
</html>